*{
    margin: 0;
    padding: 0;
    font-family:"Poppins", sans-serif;
}
.back
{
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
        ),
        url('../img/hs.jpg');

    background-size: cover;
    padding-bottom: 55px;
}
body
{
    font-weight: 600;
}
nav
{
    display: flex;
    padding: 25px;
    justify-content: center;
    color: white;
}
.back ul
{
    display: flex;
    list-style: none;
    margin: 0;
}
.back li
{
    margin-left: 30px;
}
.logo
{
    font-size: 21px;
    position: absolute;
    left: 80px;
}
.btn-logout
{
    position: absolute;
    right: 80px;
    text-decoration: none;
    color: white;
}

.org
{
    color:orange;
}

.container
{
    margin: 180px 80px 0px;
    width: 32%;
    color: white;
    
}
.container h1
{
    margin-top: 20px;
}
.text
{
    font-size: 14px;
    margin-top: 30px;
}
.m-button
{
    margin-top: 50px;
}

.m-button button
{
    padding:8px 20px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-weight:600;
    margin-right: 20px;
    cursor:pointer;

}
#book
{
    background-color: orange;
    border: 1px solid orange;
}

h4
{
    display: flex;
    justify-content: center;
}
.about h4
{
    margin: 50px 0px;
}
.content
{
    display: flex;
    padding: 0px 7%;
}

.content img
{
    border: 12px solid white;
    border-radius: 50px;

}

.hotel-image
{
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50px;
    width: 492px;
    height: 328px;
}
.hotel-card
{
    margin: 15px 0px 0px 65px;
}
.sec-child .hotel-card
{
    margin: 15px 65px 0px 0px;
}

.c1
{
    margin-top: 15px;
}
.c2
{
    margin-top: 15px;
    color: grey;
}
.hotel-card button
{
    margin-top: 15px;
    padding:6px 15px;
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    background: transparent;
    font-weight: 600;
}

.inner
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner
{
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 100px 0px 0px;
    padding: 20px 128px;    
    background-color: orange;
}
.banner .main
{
    font-size: 28px;
}
.banner .inner-text
{
    font-size: 12;
    margin-top: -30px;
}
.inner span
{
    color: white;
}
.rooms
{
    background-color: rgb(249, 249, 249);
    padding-bottom: 60px;
}
.rooms h2
{
    display: flex;
    justify-content: center;
    margin: 20px 0px 40px;
}
.roomc
{
    background-color: white;
    border: 1px solid rgb(229, 229, 229);
}

.roomc img
{
    width: 330px;
    height: 200px;
    margin-bottom: 15px;
}
.room-cards
{
    display: flex;
    justify-content: center;
    gap: 48px;
}
.room-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}
.room-content .price
{
    margin: -20px 0px 15px;
    color: rgb(155, 155, 155);
}
.rtext
{
    padding-top: 90px;
}
.services h2
{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.scard
{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 50px 40px;
    border: 1px solid rgb(211, 211, 211);
}
.scard .stext
{
    color: rgb(158, 158, 158);
}
.all-cards
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.tcards
{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.testinomial h2
{
    display: flex;
    justify-content: center;
    margin: 30px 40px;
}
.tcard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 230px;
}
.innerc
{
    text-align: center;
    color: rgb(118, 118, 118);
    font-size: 14px;
}
.tsmall
{
    color: grey;
    font-size: 14px;
}
footer
{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 150px 80px 60px;
}
.fsection
{
    width: 300px;
}

.fsection p
{
    color: grey;
}
.asection
{
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 10px;
}

.asection li
{
    list-style: none;
    margin-top: 10px;
    color: grey;
}
.lg
{
    font-size: 22px;
}
h4::before, h4::after
{
    content: '';
    width: 25px;
    height: 2.5px;
    background-color: black;
    border-radius: 50px;
    margin: 12px 2px 0px;
}

a
{
    text-decoration: none;
}

a:link
{
    color: white;
}
a:visited
{
    color: white;
}